
.container{
  display: flex;
  color: red;
  min-height: 100vh;
  max-height: 100vh;
}
.div-left{
  flex-basis: 33.3%;
}
.div-center{
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-right{
  flex-basis: 33.3%;
}
.list-chat{
  flex-basis: 95%;
  list-style-type: none;
  border: 0.5px solid aqua;
  border-radius: 10px;
  overflow-y: auto;
  padding-top: 10px;
  background-color: azure;
}
.list-chat li{
  padding: 5px;
}
.input-chat{
  display: flex;
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
}
.input-chat input{
  width: 80%;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: 0.5px solid aqua;
  padding: 10px;
  background-color: azure;
}
.input-chat button{
  width: 20%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  border: 0.5px solid aqua;
  outline: none;
  background-color: aqua;
}
.btn-login{
  height: 35px;
  padding: 10px;
  border: none;
  margin-top: 5px;
  border-radius: 10px;
  background-color: aqua;
  color: gray;
}

@media only screen and (max-width: 63.9375em){
  .div-left{
    flex-basis: 0%;
  }
  .div-center{
    flex-basis: 100%;
  }
  .div-right{
    flex-basis: 0%;
  }
  
}
